.header {
    height: 80px;
    background-color: beige;
    display: flex;
    /*flex-direction: row-reverse;*/
    justify-content: flex-end;  /*выравнивает по главной оси*/
    align-items: center; /*выравнивает по второстепенной оси*/
}