

.project {
    display: flex;
    flex-direction: column;
    align-items: center; /*внутри по центру*/
    width: 600px;
    background-color: #dcdf65;
    margin: 10px 20px;
    text-align: center; /*выравнивание внутри span*/
    justify-content: center;
}


.description {
    background-color: #4988fa;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;

}

.title {
    background-color: #4988fa;
}

.icon {
    display: flex;
    width: 70%;
    height: 300px;
    align-items: center;
    justify-content: center;
    background-color: #69dfdf;
    background-size: cover;
    background-position: center;
}