.footer {
    background-color: beige;
    display: flex;
    /*flex-direction: row-reverse;*/
    justify-content: flex-end;  /*выравнивает по главной оси*/
    align-items: center; /*выравнивает по второстепенной оси*/
    flex-direction: column;
}

.footerBlock {
    background-color: #00d2d7;
    height: 100vh;
}

.name {
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: #528cf3;
}

.info {
    border: 1px solid;
    display: flex;
    width: 300px;
    justify-content: center;
    margin: 30px 0px;
}

.infoBlock {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 10px;
    background-color: #528cf3;
}